name: lab5_todo
description: A simple Flutter ToDo app for Lab 5 (home + task CRUD + images + database)
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6

  sqflite: ^2.3.0
  path: ^1.9.0
  path_provider: ^2.1.2

  image_picker: ^1.0.7

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
